@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

<div class="card">
    <h3>Site Settings</h3>
    <p>Settings will be added later if we create a database table for site configuration.</p>

    <br />

    <table class="table">
        <tr>
            <th>Setting</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>Site Name</td>
            <td>AuctionHub</td>
        </tr>
        <tr>
            <td>Registration</td>
            <td>Enabled</td>
        </tr>
        <tr>
            <td>Auction Approval</td>
            <td>Not configured</td>
        </tr>
    </table>
</div>